*{
margin: 0px;
padding: 0px;
font-family: serif;

}

#home{
background-image: url(home.jpg);
background-repeat: no-repeat;
background-size: cover ;
background-position-y: -200px;
opacity: 1;
width: 100%;
height:80vh;
display: flex;
flex-direction: column;
place-content: center;
align-items: center;
padding: 10px;
}
.background{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
opacity: 3;
font-weight: bolder;
}



#home h1{
font-size: 2.1rem;
color: white;
text-shadow: 0px 0px 4px black;
font-family:  Georgia;
font-weight: 500;
text-transform: capitalize;
opacity: 3;
}
#home p{

font-weight: bolder;
font-size: 1.5rem;
background-image: linear-gradient(to left,rgb(250, 9, 122),white,rgb(10, 222, 250));
-webkit-background-clip: text; /* Clip the background to the text */
background-clip: text;
-webkit-text-fill-color: transparent;
font-family: cursive;
opacity: 9;
}

#home button{
background-color: transparent;
width: 150px;
height: 40px;
border-radius: 10px;
border: 2px dotted black;
outline: none;
opacity: 9;
color: white;
text-transform: capitalize;
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
}

#home button:hover{
background-color: rgb(252, 252, 251) ;
color: black;
box-shadow: 0px 0px 10px rgb(238, 89, 2);
transition: 3s;
transform: rotateY(360deg);
}

#home button:active{
transform: scale(1.3);
color: transparent;
}
